<ion-view view-title="Sign-In" name="login-view">
    <ion-content class="padding">
        <div class="list list-inset">
            <form ng-submit="login(data)">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Username</span>
                        <input type="text" ng-model="data.username">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="data.password">
                    </label>
                    <label class="item">
                        <button class="button button-block button-positive" type="submit">Log in</button>
                    </label>
                </div>
            </form>
            <label class="item">
                <button class="button button-block button-positive" ng-click="facebookLogin()">
                    FB Login
                </button>
            </label>
        </div>
    </ion-content>
</ion-view>