<ion-view view-title="Dashboard" name="dashboard-view" cache-view="false">
    <ion-content class="padding">
        <div class="row">
            <div class="col text-center">

                <form ng-submit="sendSms(data)">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Phone</span>
                            <input type="tel" ng-model="data.phone">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Message</span>
                            <textarea placeholder="Enter message" ng-model="data.message"></textarea>
                        </label>
                        <label class="item">
                            <button class="button button-block button-positive" type="submit">Send Sms</button>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
